.loading {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 100;
}

.loading-content {
	position: relative;
	display: block;
	margin-top: 10%;
	color: #FFF;
	text-align: center;
}

.loading-text {
	margin-left: 10px;
}